<%- include("partials/header") %>

<div id="main-container" class="container-fluid">
    <div class="row">
        <div id="nav" class="col-md-2 px-0">
            <h2 class="pt-2">Menu</h2>
            <hr>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="" class="nav-link">Pizze</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Hamburgeri</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Tjestenina</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Pića</a>
            </li>
            <li class="nav-item fixed-bottom pb-2">
                <a href="" class="nav-link">Košarica</a>
            </li>
            <li class="nav-item fixed-bottom pb-2">
                <a href="" class="nav-link">Test 1</a>
            </li>
            
        </ul>
        </div>
        <div class="col-md-10">Test</div>
    </div>
    
</div>
</div>


<%- include("partials/footer") %>