#sidebar{
	background-color: #212426;
	 position:fixed;
    top:0;
    left:0;
    height:100%;
    display:table-cell;
    vertical-align: middle;
	color: white;
}

body{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.sideheader{
	font-size:24px;
	text-align: center;
}

.sideheader hr{
	width: 85%;
	color:white;
	background-color: white;
}

.nav-link{
	color: white !important;
}

.sidenav .nav-item:hover{
	background-color: white;
	transition: background-color 0.5s;
}

.sidenav .nav-link:hover{
	color: #212426 !important;
	transition: color 0.5s;
}

#mainnav{
	height:100%;
}
#mainnav .nav-item{
	height:100%;
}
#mainnav .nav-link{
	color: #212426 !important;
}

#mainnav .nav-item:hover{
	background-color: #212426;
	transition: background-color 0.5s;
}

#mainnav .nav-link:hover{
	color: white !important;
	transition: color 0.5s;
}

.card-img-top{
	height:200px;
	object-fit: cover;
}

#logo{
	font-family: 'Bungee', cursive;
}

.card{
	font-weight: 300;
	-webkit-box-shadow: -1px 6px 27px -7px rgba(0,0,0,0.35);
-moz-box-shadow: -1px 6px 27px -7px rgba(0,0,0,0.35);
box-shadow: -1px 6px 27px -7px rgba(0,0,0,0.35);
}

#carousel img{
	height:400px;
	object-fit: cover;

}

.mainGrid{
	height: 200px;
}